<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title> <%= tabName %> v<%= version %> </title>
</head>
<body>


    <p> Storage Folder Is  <%= folderSize %></p>




    <div class="uploadArea">
        <form action="/" method="post" enctype="multipart/form-data">

            <input class="fileUpload" type="file" name="filename">
            <input type="submit" value="Upload File">
        
        </form>
    </div>
 
    




    <div class="filebox"></div>
    <form action="/delete" method="post">
        <input type="submit" class="deleteButton" value="Delete Selected">
        <% for (file of files) { %>
            <div class="checkbox">
                

                    <input  type="checkbox" id="checkboxid" name= "file" value='<%= file %>'>

                    <a href="<%= file %>" class="downloadItems"  id="fileDelete" download="<%= file %>" ><%= file %></a> 

                    <button onclick="window.open('<%= file %>')">Open</button>

            <br>
            
            </div>
        <% } %>    
    </form>
</div> 








</body>
</html>