<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title> <%= tabName %> v<%= version %> </title>
</head>
<body>


    <p><%= folderSize %> /   </p>





        <form action="/" method="post" enctype="multipart/form-data">

            <input class="fileUpload" type="file" name="filename">
            <br>
            <input type="submit" value="Upload File">
        
        </form>

 
    
<input type="button" hidden value="HAHA Button" onclick="alert('HAHA Get Pranked :3')">



<div class="centerBox">

    <form action="/delete" method="post">
    <input type="submit" class="deleteButton" value="Delete Selected">
    <% for (file of files) { %>
        
            <li>
                <input  type="checkbox" class="checkbox" id="checkboxid" name= "file" value='<%= file %>'>
                <a href="<%= file %>" class="fileDeleteDisplay" id="fileDelete" download="<%= file %>" ><%= file %></a> 
                <button class="openButton" onclick="window.open('<%= file %>')">Open</button>
            </li>

        <br>

    <% } %>    
</form>

</div>



<form action="/newDir" method="post">

    <input name="newDir" text">

</form>








</body>
</html>