<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title> <%= tabName %> </title>
</head>
<body>
<input type="button" hidden value="HAHA Button" onclick="alert('HAHA Get Pranked :3')">

    
    <p><%= currentDir %></p>
    <p><%= folderSize %> /  <%= folderCap %> </p>
    <p>Used: <%= percentUsed %>%</p>
    <p><%= err %></p>
    
    
    <form action="/back" method="post">
        <button type="submit" >Home</button>
    </form>
    
    
    
        <form action="/" method="post" enctype="multipart/form-data">

            <input class="fileUpload" type="file" name="filename">
            <br>
            <input type="submit" value="Upload File">
        
        </form>

 
    





    <form action="/delete" method="post">
    <input type="submit" class="deleteButton" value="Delete Selected">
    <% for (file of files) { %>
        
            <li>
                <input  type="checkbox" class="checkbox" id="checkboxid" name= "file" value='<%= currentDir + file %>'>
                <a href="<%= currentDir + file %>" class="fileDeleteDisplay" id="fileDelete" download="<%= file %>" ><%= file %></a> 
                <button class="openButton" onclick="window.open('<%= currentDir + file %>')">View</button>
                <button id="viewButton" name="clickedFolder" value="<%= file %>" form="viewForm" type="submit">Open</button>


            </li>

        <br>

    <% } %>    
</form>

<form action="/view" id="viewForm" method="post">
   
</form>



<form action="/newFolder" method="post">
    <input name="newFolder" type="text" placeholder="New Folder">
</form>


<script>

   


</script>
</html>