<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title> <%= tabName %> </title>
</head>
<body>
<input type="button" hidden value="HAHA Button" onclick="alert('HAHA Get Pranked :3')">

    
    <form action="/nvgBack" method="post">

        <button class="pathButton" form="back" type="submit" >Home</button>

        <% for (folder of path) { %>

            <button class="pathButton" name="folder" value="<%= folder %>" type="submit" > <%= folder %> </button>
      
        <% } %>
    </form>
    





    <p><%= folderSize %> /  <%= folderCap %> </p>
    <p>Used: <%= percentUsed %>%</p>
    <p><%= err %></p>
    

    
    
    
    <form action="/" method="post" enctype="multipart/form-data">

        

            <input type="file" name="filename">
            
            <input class="fileSubmit" type="submit" value="Upload File">

        
        
    </form>

 
    


    

    <form action="/delete" method="post">
    <input class="deleteButton" type="submit" class="deleteButton" value="Delete Selected">
    <button type="button" class="pathButton" onclick="newFolder()">+</button>
    
    <% for (file of files) { %>
    


        <div class="files">

            <li>
                

                <input  type="checkbox" class="checkbox" id="checkboxid" name= "file" value='<%= currentDir + file %>'>
                <a href="<%= currentDir + file %>" class="fileDeleteDisplay" id="fileDelete" download="<%= file %>" ><%= file %></a>
                <p style="display: inline;"> <%= size[files.indexOf(file)] %> </p>
                
                <button style="display: none" class="actionButton action<%= file %>" id="action <%= file %>" name="clickedFolder" value="<%= file %>" form="viewForm" type="submit">Open</button>
                <button style="display: none" class="actionButton action<%= file %>" id="action <%= file %>">R WIP</button>
                <button style="display: none" class="actionButton action<%= file %>" id="action <%= file %>">D WIP</button>

                <button type="button" class="actionButton" id="" onclick="toggleHide('action<%= file %>')">...</button>

            </li>
        
        </div>

        <br>
        

    <% } %>    
    
</form>



<form action="/newFolder" method="post" id="folderForm" > <input style="display: none;" type="text" id="test" name="newFolder" value="fldr"> </form>
<form id="back" action="/back" method="post"></form>
<form action="/view" id="viewForm" method="post"></form>



    






<script>

    function toggleHide(button) {
        var x = document.getElementsByClassName(button)
        console.log(x)

        for (button of x){
            if (button.style.display === 'none') {
            button.style.display = 'block'
            console.log("Showing Button")
        } else {
            button.style.display = 'none'
            console.log("Removing Button")
        }
        }

        
    }

    function newFolder() {
        
        var fldr = prompt('New Folder')
        console.log(fldr)

        submittedFolder = document.getElementById("test").value = fldr

        document.getElementById('folderForm').submit()

    }

</script>

</html>