<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= tabName %> </title>
</head>
<body>
    <form action="/" method="post" enctype="multipart/form-data">

        <input type="file" name="filename">
        <input type="submit" value="Upload File">
    
    </form>
    

<h1>Files</h1>
<form action="/delete" method="post">
    <% for (file of files) { %>

        <input for="fileDelete" type="checkbox" name= "file" value='<%= file %>'>
        <a href="<%= file %>" id="fileDelete" download="<%= file %>" ><%= file %></a> <br>

    <% } %>    
    <input type="submit" value="Delete Selected">
</form>








</body>
</html>